* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', 'Courier New', Courier, monospace;
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.page-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: url("../imgs/flowers-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.page-title-text {
  position: relative;
  margin: 0;
  z-index: 1;
  font-size: 70px;
  line-height: 78px;
  text-align: center;
  vertical-align: middle;
}

.product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1200px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-type {
  color: #A5A3B9;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 15px;
}

.product-price-container {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.product-class-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.bg-color-light-blue {
  background-color: #8888fa;
}